net "clk" Loc="E12";
net "reset" loc="V8";
net "hsync" loc="C11";
net "vsync" loc="B11";
net "rgb<0>" loc="C7";
net "rgb<1>" loc="D7";
net "rgb<2>" loc="B9";
net "rgb<3>" loc="C9";
net "rgb<4>" loc="C5";
net "rgb<5>" loc="D5";
net "rgb<6>" loc="C6";
net "rgb<7>" loc="D6";
net "rgb<8>" loc="A3";
net "rgb<9>" loc="B3";
net "rgb<10>" loc="B8";
net "rgb<11>" loc="C8";
net "upvel" loc="T14";
net "downvel" loc="T15";
net "upVelSim" loc="T16";
net "downVelSim" loc="U15";
net "setup" loc="U10";
net "testigo<0>" loc="R20";
net "setup_out" loc="U19";
net "go"  loc="T9";     